//border
$border-basic: 1px solid rgba(0,0,0,0.12)!important;

// table border
.bordered table {
  border-collapse: separate;
  border-spacing: 0;
  thead {
    tr {
      &:first-child th {
        border-top: $border-basic;
      }
      td, th {
        border-left: $border-basic;
        &:last-child {
          border-right: $border-basic;
        }
      }
    }
  }
  tbody {
    tr {
      td, th {
        border-left: $border-basic;
        &:last-child {
          border-right: $border-basic;
        }
      }
    }
    tr:first-child {
      td, th {
        border-top: $border-basic;
      }
    }
    tr:last-child {
      td, th {
        border-bottom: $border-basic;
      }
    }
  }
}

.mainTitle {
  font-size: 26px;
  font-weight: 800;
  //margin: 2% 0%;
  margin: 1% 0% 1%;
}

.mainWrap {
  //margin: 0% 2% 1%;
  margin: 1%;
  .content-container {
    background-color: #fff;
  }
}

.pointer {
  cursor: pointer;
}

// 상세 테이블
.detailTable tr{
  border: $border-basic;
  th {
    border: $border-basic;
    background-color: #f6f6f6;
    min-width: 10%;
  }
  td {
    border: $border-basic;
  }
}

// 공지사항
//.notice {
//  tr {
//    th {
//      //width: 19.5%;
//      width: 15%;
//    }
//    td {
//      width: 25%;
//    }
//    .small {
//      width: 15%;
//    }
//  }
//}

.inputForm {
  .row {
    border-bottom: $border-basic;
    .v-input {
      padding-top: 3px;
    }
  }
}
