img {vertical-align:top; border:none;}
table {width:100%; border-collapse: collapse;}
caption, .haze {position:absolute; left:0; top:0; width:1px; height:1px;  clip:rect(1px, 1px, 1px, 1px); overflow:hidden}
dl,ul,ol,menu,li{list-style:none;}
button {background:none; border:none; cursor: pointer; outline:0;}
fieldset {border:none;}
em {font-style:normal}
a {text-decoration:none;}
input[type="password"] {font-family:맑은고딕, Malgun Gothic, dotum, gulim, sans-serif; }

/* App Container */
.app-container {background-color: #f0f0f7 !important;}

/* Content Container */
.content-container {min-height: 89%; background-color: #F4F7FA; padding: 20px 40px;}

/* Table Header */
.v-data-table-header th {background-color: #fafafa !important; color: #464D69 !important; font-weight: 600 !important; border-right: 1px solid #ccc;}

/* Table Body */
.v-data-table__wrapper table td {border-right: 1px solid #ccc;}
.v-data-table__wrapper table td a {text-decoration: none; color: #111;}

/* login form */
.login-form { max-width: 500px; }

.no-display { display: none; }

/* CKEditor */
.ck-editor__editable_inline { min-height: 500px; }
