/* App Container */
.app-container {background-color: #f5f5f5 !important;}

/* 좌측 navigation */
.navigation {background-color: #f5f5f5 !important;}

/* 좌측 navigation 상단 영역 */
.site-logo {
  height: 64px; display: flex; align-items: center; padding: 0 0.625rem; background-color: #f5f5f5; background-image: url('/static/img/한국보건의료정보원.png'); background-repeat: no-repeat; background-position: center center; background-size: 80%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* login form */
.login-form { max-width: 500px; }